#contact_modal {
    display: none;
}

.position_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.photograph-header {
    background-color: #FAFAFA;
    margin: 0 100px;
    display: flex;
    flex-direction: row;
    gap: 500px;
}

.title_position{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.mimi {
    width: 250px;
    border-radius: 50%;
    display: flex;
    justify-content: flex-end;
}


.quote_text{
    font-family: "DM Sans", sans-serif;
    color: black;
    justify-content: flex-start;
    display: flex;
    font-size: 15px;
    padding-left: 55px;
}

.title_localisation{
    font-family: "DM Sans", sans-serif;
    color: #901C1C;
    justify-content: flex-start;
    display: flex;
    padding-left: 54px;
    font-size: 20px;
}

.first_title_photographer{
    font-family: "DM Sans", sans-serif;
    color: #D3573C;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    border: repeat;
    padding-left: 50px;
    font-size: 55px;

}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}