@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
}

.mimi {
    width: 250px;
    border-radius: 50%;
    justify-content: center;
}

.all_portrait_position {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 131px;
    margin: 55px;
}

.first_title_photographer{
    font-family: "DM Sans", sans-serif;
    color: #D3573C;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    border: repeat;
    padding-left: 50px;
    font-size: 36px;

}

.first_title_photographer_long_text{
    font-family: "DM Sans", sans-serif;
    color: #D3573C;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    border: repeat;
    font-size: 36px;
}

.first_title_photographer_tracy{
    font-family: "DM Sans", sans-serif;
    color: #D3573C;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    border: repeat;
    padding-left: 15px;
    font-size: 36px;
}

.pic_title{
    justify-content: center;
    flex-direction: column;
    display: flex;

}

.pic_title_short{
    justify-content: center;
    flex-direction: column;
    display: flex;
    padding-left: 15px;
}

.photograph_portrait{
    flex-direction: column;
    display: flex;
    padding: 50px;
}



.title_localisation{
    font-family: "DM Sans", sans-serif;
    color: #901C1C;
    justify-content: flex-start;
    display: flex;
    padding-left: 80px;
    font-size: 20px;
}

.title_localisation_long{
    font-family: "DM Sans", sans-serif;
    color: #901C1C;
    justify-content: flex-start;
    display: flex;
    padding-left: 33px;
    font-size: 20px;
}

.quote_text{
    font-family: "DM Sans", sans-serif;
    color: black;
    justify-content: flex-start;
    display: flex;
    font-size: 15px;
    padding-left: 30px;
}

.quote_text_long{
    font-family: "DM Sans", sans-serif;
    color: black;
    justify-content: flex-start;
    display: flex;
    font-size: 15px;
}

.tjm{
    color: black;
    justify-content: flex-start;
    display: flex;
    font-size: 15px;
    padding-left: 90px;
}


.header-elements {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 50px;
    height: 30px;
}